<!--<div class="tab"><a routerLink="/home">home</a></div>
<div class="tab"><a routerLink="/chart">chart</a></div>-->
<!--导航栏， 路由驱动-->
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
  <div class="navbar-header">
      <a class="navbar-brand" href="#">主页</a>
  </div>
  <div>
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="/home">主页</a></li>
        <li><a routerLink="/chart">图表</a></li>
      </ul>
  </div>
  </div>
</nav>


<router-outlet></router-outlet>